.vld-lding img {
  margin: 5px;
  width: 50%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.vld-lding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vld-tmr {
  background: #4caf50;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  border: 10px dashed rgb(255 255 255);
  color: #fff;
  font-size: 25px;
}

.logo h1 {
  font-size: 20px;
  color: #4caf50;
}

.hero-img img {
  width: 100%;
  border-radius: 10px;
  height: 450px;
  object-fit: cover;
}

.notice-running {
  display: flex;
  width: 98%;
  height: 50px;
  justify-content: center;
  align-items: center;
  background: #4caf5061;
  margin: 1%;
  border-radius: 5px;
}

.notice-running i {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff9800;
  border-radius: 5px;
  color: #fff;
  font-size: 25px;
}

img.cnf-icn {
  width: 90px;
  height: 90px;
  background: linear-gradient(180deg, #4caf50b8, transparent);
  padding: 10px;
  border-radius: 50%;
}

.cnf-itm {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.cnf-itm p {
  margin: 9px 0px;
}

.up-tme-cuntr {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff980026;
  width: 92%;
  margin: 5% 0%;
  padding: 2%;
  border-radius: 5px;
  flex-wrap: wrap;
}

.hme-wrap {
  padding: 10px;
}

.cunt-itm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 15%;
}

.cunt-itm p {
  font-size: 10px;
  font-weight: 600;
  background: rgb(76, 175, 80);
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  border-radius: 0px 0px 10px 10px;
  color: #fff;
  margin: 0px !important;
}

.cunt-itm h1 {
  background: #fff;
  width: 100%;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  padding: 10px 0px;
}

.up-tme-cuntr .hdr {
  width: 100%;
  text-align: center;
  margin: 10px 0px;
}

marquee.win-marq {
  height: 200px;
}

.win-itm {
  display: flex;
  width: -webkit-fill-available;
  justify-content: space-between;
  background: #fff;
  margin: 2px 0px;
  padding: 10px;
  border-radius: 10px;
  color: #000;
}

.win-itm h3 {
  font-size: 15px;
  font-weight: 400;
}

.win-lst h1 {
  width: 100%;
  text-align: center;
  margin: 20px 0px;
}

.win-lst {
  width: -webkit-fill-available;
  background-color: #4f2b8e66;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 20px;
}

.up-tme-cuntr {
  padding: 10px 0px 20px;
  border-radius: 10px;
  width: -webkit-fill-available;
  margin-bottom: 20px;
}

.trade-wrap-5m {
  width: -webkit-fill-available;
  padding: 10px;
  color: #fff;
}

.card-gr {
  background: #4caf503b;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.wlt-smry {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}

.wlt-smry .icn-txt {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.wlt-smry .wlt-vals {
  width: 50%;
  text-align: right;
  font-size: 20px;
}

.wlt-smry .icn-txt i {
  font-size: 30px;
  color: #3b8b3f;
}

.wlt-smry .icn-txt .txts h3 {
  font-size: 16px;
  margin: 2px 0px;
  font-weight: 400;
  line-height: 10px;
}

.wlt-smry .icn-txt .txts p {
  font-size: 12px;
}

.wlt-smry .icn-txt .txts {
  margin: 5px 5px;
}

.wlt-btn-grps {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 8px 0px 0px;
}

.wlt-btn-grps a.btn {
  margin: 0px 2px -5px;
  width: -webkit-fill-available;
  font-size: 11px;
}

.card-rd {
  padding: 10px;
  background: #f4433659;
  border-radius: 10px;
  margin-bottom: 10px;
}

.trd-id-timr {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  align-items: flex-end;
}

.trd-id {
  width: 50%;
}

.trd-typ {
  border: 1px solid #fff;
  width: fit-content;
  padding: 2px 10px;
  border-radius: 5px;
  font-size: 11px;
  background: #4caf50;
  color: #fff;
}

.trd-id-vl {
  font-size: 25px;
  line-height: 35px;
}

.trd-timr {
  text-align: right;
}

.trd-txt {
  width: fit-content;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 0px;
}

.trd-tmr-val {
  display: flex;
  justify-content: flex-end;
}

.tmr-dgt {
  background: #ca362b;
  margin: 0px 1px;
  padding: 5px;
  font-size: 20px;
  border-radius: 9px 0px 0px 0px;
  color: #fff;
}

.card-vl {
  padding: 10px;
  background: #4f2b8e36;
  border-radius: 10px;
  margin-bottom: 10px;
}

.trd-stks {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  min-height: 150px;
}

.stk-itms {
  width: 50px;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #673ab7;
  height: 50px;
  border-radius: 50%;
  border: 5px double #fff;
  color: #fff;
}

.trd-sttr-wrpr {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: -webkit-fill-available;
  z-index: 9999999;
}

.trd-sttr-bg {
  width: -webkit-fill-available;
  height: 100vh;
  background: #000000ad;
}

.trd-sttr-cntnt {
  position: fixed !important;
  bottom: 0;
  width: -webkit-fill-available;
  background: #111;
  height: 70%;
  left: 0;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0px -5px 10px 0px #0000003b;
}

.trd-sttr-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(76, 175, 80);
  color: #fff;
  border-radius: 20px 20px 0px 0px;
  height: 120px;
}

.trd-sttr-head h1 {
  color: #fff;
  font-size: 30px;
}

.trd-sttr-head p {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.trd-sttr-head p strong {
  background: #000;
  padding: 5px 10px;
  margin: 0px 10px;
  border-radius: 5px;
  text-transform: capitalize;
}

.trd-sttr-bdy {
  background: #111;
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
}

.trd-sttr-amnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 60px;
  margin: 0px 0px 10px;
}

.trd-sttr-amnt h3 {
  font-size: 15px;
  margin-bottom: 10px;
}

.invst-opts {
  display: flex;
}

.invst-opts p {
  border-radius: 5px;
  background: #1f1f1f;
  padding: 5px 15px;
  font-size: 20px;
}

.invst-opts p.active {
  background: rgb(76, 175, 80);
  color: #fff;
  transition: 0.5s;
}

.mltply-opts {
  display: flex;
}

.mltply-opts p {
  border-radius: 5px;
  background: #1f1f1f;
  padding: 5px 15px;
  font-size: 20px;
}

.mltply-opts p.active {
  background: rgb(76, 175, 80);
  color: #fff;
  transition: 0.5s;
}

.trd-sttr-mltply {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 60px;
  margin: 0px 0px 10px;
}

.trd-sttr-mltply h3 {
  font-size: 15px;
  margin-bottom: 10px;
}

.trd-sttr-ftr {
  position: fixed;
  bottom: 5px;
  width: -webkit-fill-available;
}

.actn-btn-grps {
  display: flex;
  justify-content: space-evenly;
}

.actn-btn-grps button.btn {
  width: 49%;
}

.trd-winng-prz {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 180px;
}

.trd-winng-prz h3 {
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  margin-top: 160px;
  margin-left: 25px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.trd-winng-prz img.winz-img {
  position: absolute;
  margin-top: -130px;
  width: 34%;
  margin-right: -240px;
  rotate: 54deg;
}

.trd-winng-prz h2 {
  font-size: 150px;
  color: #ff9800;
}

.disble-sec {
  position: absolute !important;
  width: -webkit-fill-available;
  min-height: 245px;
  background: #000000c7;
  height: auto;
  border-radius: 10px;
  margin: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #fff;
  font-weight: 900;
  flex-direction: column;
  padding: 10px;
  z-index: 99999;
}

table.trd-rcrds-table {
  width: -webkit-fill-available;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.card-yl {
  padding: 10px;
  background: #ffeb3b15;
  border-radius: 10px;
  margin-bottom: 10px;
}

.trd-rcrds {
  text-align: center;
  text-transform: capitalize;
}

.trd-rcrds h1 {
  color: #000;
}

.live-idctr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.live-idctr i {
  color: red;
  margin: 2px 5px;
}

.live-idctr h4 {
  margin: 2px;
}

.card-bl {
  padding: 10px;
  background: #2196f34f;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card-yl {
  background: #ffeb3b1f;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.rslt-show,
.nmbr-flpr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rslt-show h1 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}

.nmbr-flpr h1 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}

.rslt-show .nmbr {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #f44336;
  font-size: 50px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.flpr {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 50px;
}

.flpr img {
  width: 100%;
}

.wlt-tpup {
  width: -webkit-fill-available;
  padding: 10px;
  margin: 10px 0px 30px;
}

.tpup-hdr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background: rgb(76 175 80 / 23%);
  border-radius: 10px;
  margin: 10px 0px;
  padding: 10px;
}

.tpup-hdr i {
  font-size: 100px;
  color: rgb(76, 175, 80);
}

.tpup-opts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tpup-itms {
  width: 23%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: rgb(255, 152, 0);
  margin: 1%;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

.wlt-tpup img {
  width: 100%;
}

.wlt-tpup h1 {
  color: #444;
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.img-flbak {
  width: -webkit-fill-available;
  min-height: 200px;
  background: #ddd;
  border-radius: 5px;
}

.pymnt .img-flbak {
  width: 50%;
  min-height: 100px;
}

.pymnt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pymnt h1 {
  color: #4caf50;
  font-size: 25px;
}

.pymnt form.login-form {
  width: -webkit-fill-available;
}

.pymnt ul {
  font-size: 13px;
}

.img-lnk-grp {
  display: flex;
  width: -webkit-fill-available;
  justify-content: space-evenly;
  margin: 10px 50px;
}

.amnt-val {
  font-size: 30px;
  color: orange;
}

.admn-wrpr {
  width: -webkit-fill-available;
  overflow: scroll;
  padding: 10px;
}

.admn-wrpr button.btn.export-xl {
  float: left;
  margin: 10px 0px;
}

.react-tabs__tab--selected {
  background: rgb(255, 152, 0);
  color: #fff;
}

.react-tabs__tab-list {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none;
  width: -webkit-fill-available;
}

.react-tabs__tab {
  font-size: 18px;
  width: 40%;
  text-align: center;
}

.react-tabs__tab-panel {
  background: #fff;
  padding: 10px 2px;
  border-radius: 10px;
  margin-top: -10px;
  border: 2px solid rgb(255, 152, 0);
}

.img-lnk-grp a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4caf50;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
}

.img-lnk-grp a img {
  width: 20%;
  margin: 5px 10px;
}

.img-lnk-grp a h4 {
  font-size: 15px;
  width: 300px;
}

.wlt-wrp {
  padding: 10px;
}

.tot-sum {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: rgb(33, 150, 243);
  border-radius: 8px;
  margin: -5px 1px 0px;
}

.tot-sum h4 {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.cmg-soon {
  position: absolute;
  height: 90px;
  width: 90px;
  padding: 10px;
  background: #000000c7;
  color: #ffffff91;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 49%;
}

.dclr-frm {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('./static/lbg.jpg');
  position: fixed;
  top: 0px;
  height: 98vh;
  z-index: 9999;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color: #000000a8;
  background-blend-mode: darken;
  left: 0;
  color: #fff;
}

.chkbx {
  display: flex;
  width: 100px;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

.btn-grp.vt button.btn {
  margin-top: 0px;
}

.rd {
  background-color: #f44336 !important;
}

.clr-trd {
  border: 5px solid #fff;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 0px #1f1f1fde;
}

.clr-trd .nmbr {
  margin-bottom: 0px;
  border-radius: 50px;
}

.clr-trd .flpr {
  margin-bottom: 0px;
  border-radius: 50px;
  transition: 0.5s;
}

.trade-wrap-clr .stk-itms {
  width: 75px;
  height: 75px;
  min-width: 0%;
  color: #000;
}

.trade-wrap-clr {
  padding: 10px;
}

td.clr-icn-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

.clr-icn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.withdrwl {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.withdrwl img {
  width: 100%;
}

.withdrw {
  width: 98%;
}

a.go-back {
  text-decoration: none;
  color: #000;
}

/*************************MOBILE LOOK***********************/
/* The device with borders */
.smartphone {
  position: relative;
  width: 33.33vw;
  height: 100vh;
  margin: 1px 10px;
  border: 16px #fff solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
  box-shadow: 0px 0px 10px 0px #000;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
  width: 33.33vw;
  height: 100vh;
  background: #111;
}

.scrn-wrapper {
  transform-origin: 0 0;
  transform: scale(0.8);
  margin-top: 20px;
  margin-left: 33.33vw;
}

.entire-Wrap {
  width: 100%;
  height: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('./static/lbg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pg-styl {
  width: -webkit-fill-available;
  padding: 10px;
}

.pg-element {
  padding: 10px;
  text-align: center;
  background-color: #4caf5040;
  border-radius: 10px;
}

.pg-element img.spinner {
  width: 30%;
  margin: 150px 0px 50px;
}

.pg-element p {
  margin-bottom: 30px;
}

.trde-rcrds-live {
  padding: 10px;
}

.clr-trd-live {
  background: #ff98001c;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 10px;
}

.invsts {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.inst-on {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.blnc {
  width: 70%;
  padding-left: 10px;
}

.welcome-texts {
  width: -webkit-fill-available;
  background: #00000091;
  padding: 20px 10px;
  border-radius: 10px;
}

img.wl-icn {
  width: 40%;
}

.stock-itm-wrap {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-bg {
  position: absolute;
  background: #000000ba;
  left: 100%;
  top: 0;
  width: 50vw;
  height: 100vh;
  z-index: 0;
}

.btm-bar-wrap a.active {
  background: #353434;
  min-width: 130px;
  min-height: 50px;
  border-radius: 10px;
  animation: slide-right 0.2s;
  -webkit-animation: slide-right 0.2s;
  transition: 0.2s;
  position: relative;
}

.btm-bar-wrap a.active .btm-txt {
  display: block;
}

.roller-anim {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.roller-anim marquee {
  width: 100%;
  margin-top: -15px;
  margin-bottom: 5px;
}

.roller-anim img {
  width: 30%;
  object-fit: cover;
  transition: 2s;
}

.trade-wrap-flight {
  padding: 10px;
}

.trade-wrap-flight .stk-itms {
  background: #111;
}

p.info-app {
  font-size: 10px;
}

.pages {
  padding: 10px 25px;
  margin-bottom: 50px;
}

.icn-lst {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.icn-itm {
  width: 33%;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0000007a;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
}

.icn-itm i {
  width: 50px;
  height: 50px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 35px !important;
}

.icn-itm p {
  text-align: center;
  font-size: 10px;
}

.qk-acc {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.tot-wlt-re {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.icn-bx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.icn-bx i {
  font-size: 100px;
  color: #ffeb3b78;
}

.icn-bx p {
  position: absolute;
  font-size: 40px !important;
  text-shadow: 0px 0px 10px #000;
}

.inst-on {
  padding: 10px;
  background-color: #11111191;
  margin: 3px 0px;
  border-radius: 10px;
}

.invsts {
  margin-top: 20px;
}

.react-tabs table {
  color: #000 !important;
}

.float-timer {
  float: right;
  position: relative;
  margin-top: -40px;
  background: #111111ad;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
}

.wc-admin-dash-wrap {
  padding: 10px;
}

.wc-rerd {
  overflow-x: scroll;
}

.scrn-svr {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #1f1f1f;
}

.scrn-svr img {
  width: 100%;
  min-height: 60vh;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}

.scrn-svr h3 {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d9ceed;
}

.game-wrap {
  padding: 10px;
}

.game-cntrls {
  display: flex;
  width: -webkit-fill-available;
  justify-content: space-between;
  margin: 10px 0px;
  background: #1e1e1e;
  padding: 10px;
  border-radius: 10px;
  font-size: 11px;
  align-items: center;
}

.ovr-unit {
  padding: 10px;
  background: #1e1e1e;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.ovr-unit h3 {
  font-weight: 400;
  color: rgb(76, 175, 80);
}

.ovr-unit h3 b {
  color: #fff;
  margin-left: 10px;
  font-size: 24px;
  font-weight: 300;
}

.runs {
  padding: 10px;
  background: #1e1e1e;
  border-radius: 10px;
  margin: 10px 0px;
}

.runs h1 {
  font-size: 25px;
  text-align: center;
}

.runs p {
  text-align: center;
  font-size: 14px;
}

.runs .res-grp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: -webkit-fill-available;
  margin: 10px 0px;
}

.runs .res-grp .res-itm {
  width: 45%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.lck-bt {
  width: 100%;
  margin-bottom: 5px;
}

.user-brd img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.game-wrap h1,
p {
  text-align: center;
}

.wc-games {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px 0px;
}

.wc-games .runs {
  width: 40%;
  margin: 5px !important;
}

.game-done {
  text-align: center;
  margin-bottom: 10px;
}

.game-done img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.game-done h3 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
}

a.wcc-cvr {
  width: 100%;
  text-decoration: none;
  color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.wcc-cvr img {
  width: 100%;
  border-radius: 10px;
}

a.wcc-cvr p {
  text-decoration: none !important;
  font-size: 30px;
  position: absolute;
  margin-top: 130px;
  margin-left: -140px;
  color: #000;
  text-shadow: 0px 0px 6px #4caf50;
  font-weight: 900;
}

.stk-itms-wrp {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2px 1px;
  padding: 5%;
  height: 110px;
  max-height: 120px;
  background: #00000066;
  border-radius: 5px;
}

.stk-itms-wrp img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.stk-itms-wrp h1 {
  font-size: 10px;
  color: #fff;
  margin-top: 10px;
}

.stk-itms-wrp p {
  width: 100%;
  background: #027006;
  border-radius: 4px;
}

span.hint {
  background: #ffc107;
  width: 40px;
  text-align: center;
  border-radius: 5px;
  color: #000;
  margin-bottom: 10px;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

img.td-img {
  width: 22%;
}

img.usr-td-img {
  width: 10%;
}

.cars-trk {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.cars img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.cars {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid;
  margin: 1%;
  border-radius: 10px;
  padding: 10px;
  transition: 0.1s;
}

.cars.active {
  border-color: red;
}

.trade-wrap-flight .stock-itm-wrap {
  width: 20%;
}

.trade-wrap-flight .trd-stks {
  justify-content: center;
}

tbody.img-bdy {
  background: #000;
  color: #fff !important;
}

.trade-wrap-flight .disble-sec {
  min-height: 150px !important;
}

.clor .disble-sec {
  min-height: 150px !important;
}

span.hint.red {
  background: #f44336 !important;
  color: #fff;
}

span.hint.vlt {
  background: #9c27b0 !important;
  color: #fff;
}

span.hint.grn {
  color: #fff;
  background: #1b5e20 !important;
}

span.hint.ylw {
  background: #ff8f00 !important;
  color: #fff;
}

span.hint.blu {
  background: #283593 !important;
  color: #fff;
}

span.hint.pnk {
  background: #c2185b !important;
  color: #fff;
}

.mltply {
  margin-left: 230px;
  position: absolute;
  animation: anim-mltply 0.7s;
  -webkit-animation: anim-mltply 0.7s;
  transition: 0.7s;
}

.icn-dta {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.icn-dta img.td-img {
  margin-right: 10px;
}

.clor .stock-itm-wrap {
  width: 33%;
}

.clr .cars {
  width: 70px;
  height: 70px;
  border-color: #3f51b5;
  border-radius: 50%;
}

.clr .cars img {
  width: 60px;
  height: 60px;
}

.clr .cars.active {
  border-color: #ffc107;
}

@media only screen and (max-width: 600px) {
  .vld-lding img {
    height: 500px;
  }
  .hero-img img {
    height: auto !important;
  }
}
